@if (profile() !== null && !isLoading()){
  <div class="flex justify-center">
    <div class="w-[622px] bg-white shadow-lg p-4 rounded-lg flex flex-col">
        <h1 class="font-semibold tracking-tight text-xl mb-6">اطلاعات کاربری</h1>
      <div class="flex flex-col gap-4">
        <div class="flex justify-between">
          <span class="text-muted-foreground">asd</span>
          <span class="text-muted-foreground">asd</span>
        </div>
        <div class="flex justify-between">
          <span class="text-muted-foreground">asd</span>
          <span class="text-muted-foreground">asd</span>
        </div>
        <div class="flex justify-between">
          <span class="text-muted-foreground">asd</span>
          <span class="text-muted-foreground">asd</span>
        </div>
        <div class="flex justify-between">
          <span class="text-muted-foreground">asd</span>
          <span class="text-muted-foreground">asd</span>
        </div>
      </div>
    </div>
  </div>
} @else {
  <div class="flex justify-center">
    <div class="spinner spinner--lg"></div>
  </div>
}
