<form [formGroup]="loginForm" (submit)="login()">
  <div class="flex flex-col gap-4">
    <app-input formControlName="mobileNumber" [disabled]="otpMustBeShown()" [readonly]="otpMustBeShown()" inputMode="numeric">
      شماره موبایل
    </app-input>
    @if (otpMustBeShown()){
      <app-otp-input [length]="6" (complete)="onComplete($event)"></app-otp-input>
    }
    <app-button class="mt-2 w-full flex items-center justify-center" (click)="login()" [disabled]="(!otpMustBeShown() && loginForm.controls.mobileNumber.invalid) || (otpMustBeShown() && loginForm.invalid) || isLoading()">
      @if (isLoading()){
        <div class="spinner spinner--sm"></div>
      } @else {
        ورود
      }
    </app-button>
  </div>
</form>
